<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/style.css">

    <title>Mi primera Web</title>
</head>

<body class="textos">
    <header>

        <section>

            <article id='one'>
                <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado libre" class="logo">
            </article>

            <article id='two'>
                <input type="text" size="30" value="Buscar productos, marcas" name="barra busqueda" class="textbox">

                <button type="button"><i class="fas fa-search"></i></button>
            </article>

            <p id='three' class="centrar textos"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de credito</p>

        </section>

        <br>

        <section class="listas">

            <ul class="primeralista">
                <li><a href="">Ofertas </a></li>
                <li><a href="">Tiendas Oficiales </a></li>
                <li><a href="">Vender </a></li>
                <li><a href="">Ayuda </a></li>
            </ul>
            <br>
            <ul class="segundalista">
                <li><a href="http://localhost:3030/register">Crea tu cuenta</a>
                    <i class="far fa-address-card"></i></li>
                <li><a href="http://localhost:3030/login">Ingresa</a>
                    <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a>
                    <i class="fas fa-shopping-basket"></i></li>

            </ul>
        </section>



        <article class="burger-menu">
            <button type="button"><i class="fas fa-bars"></i></button>
        </article>

        <br>

    </header>

    <main>

        <img src="/images/img-home-banner.jpg" alt="banner" class="banner">

        <h1 class="titulares">Basados en tu ultima visita</h1>

        <section>

            <article>

                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">

                <i class="fas fa-truck"></i>

                <div>
                    <p class="precios">$6.770</p>
                    <p class="desc">40% OFF</p>
                </div>

                <br>

                <p class="descr"><b>Cafetera Moulinex</b></p>

            </article>



            <article>

                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">

                <i class="fas fa-truck"></i>

                <div>
                    <p class="precios">$230.000</p>
                    <p class="desc">20% off</p>
                </div>

                <br>

                <p class="descr"><b>MacBook Pro 2019</b></p>

            </article>




            <article>

                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">

                <i class="fas fa-truck"></i>

                <div>
                    <p class="precios">$70.500</p>
                    <p class="desc">10% off</p>
                </div>

                <br>

                <p class="descr"><b>Samsung Galaxy S10</b></p>

            </article>



            <article>

                <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Tv">

                <i class="fas fa-truck"></i>

                <div>
                    <p class="precios">$23.200</p>
                    <p class="desc">5% off</p>
                </div>

                <br>

                <p class="descr"><b>SmartTv Samsung 43"</b></p>

            </article>

        </section>

        <h1 class="titulares">Ofertas</h1>

        <section>

            <article>

                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">

                <i class="fas fa-truck"></i>

                <div>
                    <p class="precios">$6.770</p>
                    <p class="desc">40% OFF</p>
                </div>

                <br>

                <p class="descr"><b>Cafetera Moulinex</b></p>

            </article>



            <article>

                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">

                <i class="fas fa-truck"></i>

                <div>
                    <p class="precios">$230.000</p>
                    <p class="desc">20% off</p>
                </div>

                <br>

                <p class="descr"><b>MacBook Pro 2019</b></p>

            </article>




            <article>

                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">

                <i class="fas fa-truck"></i>

                <div>
                    <p class="precios">$70.500</p>
                    <p class="desc">10% off</p>
                </div>

                <br>

                <p class="descr"><b>Samsung Galaxy S10</b></p>

            </article>



            <article>

                <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Tv">

                <i class="fas fa-truck"></i>

                <div>
                    <p class="precios">$23.200</p>
                    <p class="desc">5% off</p>
                </div>

                <br>

                <p class="descr"><b>SmartTv Samsung 43"</b></p>

            </article>

        </section>
    </main>

    <footer>
        <article>
            <i class="fas fa-credit-card logos_footer"></i>

            <p>
                <h2>Pagá con tarjeta o en efectivo</h2>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <br>
        <article>
            <i class="fas fa-gift logos_footer"></i>

            <p>
                <h2>Envío gratis desde $ 2.500</h2>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <br>
        <article>
            <i class="fas fa-user-shield logos_footer"></i>

            <p>
                <h2>Seguridad de principio a fin</h2>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <br>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>

</html>