<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera Web</title>
</head>

<body>
    <header>

        <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado libre">


        <p>Lugar para poner la barra de busqueda</p>
        <p>Compra en cuotas y sin tarjetas de credito</p>

        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <section>
            <h1>Basado en tu ultima busqueda</h1>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><b>Cafetera Moulinex</b></p>

            <br>

            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
            <p>$230.000</p>
            <p>20% off</p>
            <p><b>MacBook Pro 2019</b></p>

            <br>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
            <p>$70.500</p>
            <p>10% off</p>
            <p><b>Samsung Galaxy S10</b></p>

            <br>

            <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Tv">
            <p>$23.200</p>
            <p>5% off</p>
            <p><b>SmartTv Samsung 43"</b></p>

        </section>

        <section>
            <h1>Ofertas</h1>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><b>Cafetera Moulinex</b></p>

            <br>

            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
            <p>$230.000</p>
            <p>20% off</p>
            <p><b>MacBook Pro 2019</b></p>

            <br>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
            <p>$70.500</p>
            <p>10% off</p>
            <p><b>Samsung Galaxy S10</b></p>

            <br>

            <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Tv">
            <p>$23.200</p>
            <p>5% off</p>
            <p><b>SmartTv Samsung 43"</b></p>

        </section>
    </main>

    <footer>
        <section>
            <p><b>Pagá con tarjeta o en efectivo</b></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <p><b>Envío gratis desde $ 2.500</b></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <p><b>Seguridad, de principio a fin</b></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>

        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>