@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width: 361px) {
    /*Tablets*/
    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu button {
        display: none;
    }
    main section {
        display: flex;
        flex-wrap: wrap;
    }
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        border-top: solid 1px #ebebeb;
        background-color: white;
        padding: 15px;
        width: 40%;
    }
    main section article img {
        width: 100%;
        display: block;
        margin: auto;
    }
    #one {
        width: 33vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #two {
        width: 33vw;
        display: flex;
        align-items: center;
    }
    #three {
        width: 33vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .listas {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 769px) {
    /*Desktop*/
    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu button {
        display: none;
    }
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        border-top: solid 1px #ebebeb;
        background-color: white;
        padding: 15px;
        width: 20%;
    }
    #one {
        width: 33vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #two {
        width: 33vw;
        display: flex;
        align-items: center;
    }
    #three {
        width: 33vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .listas {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 360px) {
    /*Mobile*/
    .descr {
        display: none;
    }
    .listas {
        display: none;
    }
    main section {
        display: flex;
        flex-wrap: wrap;
    }
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        border-top: solid 1px #ebebeb;
        background-color: white;
        padding: 15px;
        width: 90%;
    }
    #one {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #two {
        width: 50vw;
        display: flex;
        align-items: center;
    }
    #three {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

header {
    background: #EAC926;
}

header section {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

h1 {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 15px;
}

.banner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.textbox {
    color: #ebebeb;
    width: 70%;
    height: 50%;
    /*margin-left: 0px;
    margin-right: 0px;*/
    border: none;
    border-radius: 2%;
}

header section article button {
    background-color: white;
    width: 15%;
    height: 50%;
    /*margin-left: 0px;*/
    border: none;
    border-radius: 2%;
}

.centrar {
    text-align: center;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

header section ul li {
    margin-right: 15px;
}

.primeralista {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-left: 10px;
}

.segundalista {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-right: 10px;
}

.burger-menu {
    text-align: center;
}

.burger-menu button {
    background: #1259c3;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 15%;
}

.logos_footer {
    font-size: 2em;
    padding-inline: 10px;
    color: #1259c3;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    padding: 15px;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

footer h2 {
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

footer article {
    padding-top: 20px;
    color: #666;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    text-align: left;
}

.textos {
    font-size: 12px;
}

.precios {
    font-size: 18px;
    margin-right: 5px;
}

.titulares {
    font-size: 24px;
}

.desc {
    font-size: 16px;
    color: #39b54a;
    flex-grow: 0.7;
}

.descr {
    font-size: 16px;
    color: #666;
}

main {
    background-color: #ebebeb;
    margin-left: auto;
    margin-right: auto;
}

main section article img {
    width: 100%;
    display: block;
    /*margin: auto;*/
    border-bottom: 1px solid #ebebeb;
}

main section article i {
    padding: 5px;
    width: 30px;
    height: 30px;
    background: white;
    font-size: 16px;
    color: #39b54a;
    border-radius: 50%;
    border: 1px solid #39b54a;
    position: relative;
    top: -15px;
    right: -85%;
}

main section article div {
    display: flex;
    border: none;
    align-items: flex-end;
    margin-left: 0px;
}