@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
header {
    background: #EAC926;
}

.textbox {
    margin-left: 30px;
    color: #ebebeb;
}

.p1 {
    text-align: center;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

.listas {
    list-style: none;
    padding: 0;
    margin: 0;
}

.busqueda i {
    background: #ebebebf1;
    color: black;
    margin-left: 30px;
    font-size: 15px;
    padding: 3px;
    border-radius: 15%;
    border-color: black;
    border-width: 20px;
}

.burger-menu i {
    background: #1259c3;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 15%;
}

.logos_footer {
    font-size: 2em;
    padding-inline: 10px;
    color: #1259c3;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    text-align: left;
    padding: 30px;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

footer {
    text-align: center;
}

footer h2 {
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

footer article {
    padding-top: 20px;
    color: #666;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    text-align: left;
}

.textos {
    font-size: 12px;
}

.precios {
    font-size: 18px;
}

.titulares {
    font-size: 24px;
}

.descdescr {
    font-size: 16px;
}