@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width: 361px) and (max-width: 768px) {
    /*Tablets*/
    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu button {
        display: none;
    }
    main section {
        display: flex;
        flex-wrap: wrap;
    }
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        border-top: solid 1px #ebebeb;
        background-color: white;
        padding: 15px;
        width: 40%;
    }
    main section article img {
        width: 100%;
        display: block;
        margin: auto;
    }
    #one {
        width: 33vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #two {
        width: 33vw;
        display: flex;
        align-items: center;
    }
    #three {
        width: 31vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .listas {
        display: flex;
        justify-content: space-between;
    }
    .radiolabel {
        width: 20%;
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .chckinput {
        width: 10%;
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .labelradio {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 30%;
        padding-right: 2vh;
        padding-left: 2vh;
    }
    .botones {
        font-size: 13px;
        width: 65%;
    }
    main form input {
        font-size: 13px;
        width: 65%;
    }
    .titulosregister {
        width: 65%;
    }
    .rad {
        width: 65%;
    }
    .chkbox {
        width: 65%;
    }
    footer {
        text-align: center;
    }
    footer h2 {
        padding-bottom: 0px;
        border-bottom: 0px;
        margin-bottom: 0px;
    }
    footer article {
        padding-top: 20px;
        color: #666;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 769px) {
    /*Desktop*/
    footer {
        display: flex;
        flex-wrap: wrap;
    }
    footer article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #666;
        margin-left: auto;
        margin-right: auto;
    }
    footer article p {
        margin-left: 2vh;
        margin-right: 2vh;
        text-align: center;
    }
    footer article i {
        transition: transform 0.5s;
    }
    footer article i:hover {
        color: #EAC926;
    }
    footer article h2 {
        margin-top: 10px;
    }
    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu button {
        display: none;
    }
    main section {
        display: flex;
        flex-wrap: wrap;
    }
    main section article {
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        border-top: solid 1px #ebebeb;
        background-color: white;
        padding: 15px;
        width: 20%;
    }
    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descr {
        display: none;
        transition: all 800ms;
    }
    main section article:hover>.descr {
        display: block;
        transition: all 800ms;
    }
    #one {
        width: 33vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #two {
        width: 33vw;
        display: flex;
        align-items: center;
    }
    #three {
        width: 31vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .listas {
        display: flex;
        justify-content: space-between;
    }
    .radiolabel {
        width: 20%;
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .chckinput {
        width: 10%;
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .labelradio {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 20%;
        padding-right: 2vh;
        padding-left: 2vh;
    }
    .botones {
        font-size: 15px;
        width: 65%;
    }
    main form input {
        font-size: 15px;
        width: 65%;
    }
    .titulosregister {
        width: 65%;
    }
    .rad {
        width: 65%;
    }
    .chkbox {
        width: 65%;
    }
}

@media (max-width: 360px) {
    /*Mobile*/
    footer {
        text-align: center;
    }
    footer h2 {
        padding-bottom: 0px;
        border-bottom: 0px;
        margin-bottom: 0px;
    }
    footer article {
        padding-top: 20px;
        color: #666;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .rad {
        width: 85%;
    }
    .chkbox {
        width: 85%;
    }
    .titulosregister {
        width: 85%;
    }
    main form input {
        font-size: 10px;
        width: 85%;
    }
    .botones {
        font-size: 10px;
        width: 85%;
    }
    .descr {
        display: none;
    }
    .listas {
        display: none;
    }
    main section {
        display: flex;
        flex-wrap: wrap;
    }
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        border-top: solid 1px #ebebeb;
        background-color: white;
        padding: 15px;
        width: 90%;
    }
    #one {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #two {
        width: 50vw;
        display: flex;
        align-items: center;
    }
    #three {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .radiolabel {
        width: 20%;
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .chckinput {
        width: 30%;
        padding-left: 2vh;
        padding-right: 2vh;
        margin-right: 15%;
    }
    .labelradio {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
        padding-right: 2vh;
        padding-left: 2vh;
    }
}

header {
    background: #EAC926;
}

header section {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

h1 {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 15px;
}

.banner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.textbox {
    color: #ebebeb;
    width: 70%;
    height: 50%;
    border-radius: 5px;
    border: 1px solid white;
}

.lupa {
    border-radius: 5px;
    border: 1px solid white;
    position: relative;
    right: 7px;
}

header section article button {
    background-color: white;
    width: 15%;
    height: 50%;
    /*margin-left: 0px;*/
    border: none;
    border-radius: 2%;
}

.centrar {
    text-align: center;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

header section ul li {
    margin-right: 15px;
}

.primeralista {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-left: 10px;
}

.segundalista {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-right: 10px;
}

.burger-menu {
    text-align: center;
}

.burger-menu button {
    background: #1259c3;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 15%;
}

.logos_footer {
    font-size: 2em;
    padding-inline: 10px;
    color: #1259c3;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    padding: 15px;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    text-align: left;
    width: 100%;
}

.textos {
    font-size: 12px;
}

.descr {
    font-size: 16px;
    color: #666;
}

.precios {
    font-size: 18px;
    margin-right: 5px;
}

.titulares {
    font-size: 24px;
}

.desc {
    font-size: 16px;
    color: #39b54a;
    flex-grow: 0.7;
}

main {
    background-color: #ebebeb;
    margin-left: auto;
    margin-right: auto;
}

main section article img {
    width: 100%;
    display: block;
    /*margin: auto;*/
    border-bottom: 1px solid #ebebeb;
}

main section article i {
    padding: 5px;
    width: 30px;
    height: 30px;
    background: white;
    font-size: 16px;
    color: #39b54a;
    border-radius: 50%;
    border: 1px solid #39b54a;
    position: relative;
    top: -15px;
    right: -85%;
    transition: transform 400ms;
}

main section article i:hover {
    transform: rotate(-90deg);
}

main section article div {
    display: flex;
    border: none;
    align-items: flex-end;
    margin-left: 0px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.rad {
    display: flex;
    flex-direction: row;
    padding-right: 2vh;
    padding-left: 2vh;
}

.chkbox {
    display: flex;
    flex-direction: column;
}

.checklabel {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
}

main form input {
    margin-bottom: 3vh;
    margin-top: 3vh;
    color: #666;
    border-radius: 5px;
    border: 1px solid white;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 2vw;
    padding-left: 2vw;
    background-color: white;
}

.titulosregister {
    text-align: start;
    font-size: 12px;
}

.botones {
    border-radius: 5px;
    border: 1px solid #1259c3;
    background-color: #1259c3;
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.cambcolor {
    border: 1px solid #1259c3;
    background-color: #1259c3;
}

.cambcolor:hover {
    border: 1px solid #0022AA;
    background-color: #0022AA;
}